<header class="masthead">
  <div class="overlay">
    <div class="container">
      <h1 class="display-1 text-white">Smart Hiring</h1>
      <h2 class="display-4 text-white">Taking the guesswork out of finding the right recruiter. Leaving you to just hire.</h2>
      <a href=<%=new_user_registration_url%> class="btn btn-primary btn-lg active" role="button" aria-pressed="true">I'm hiring</a>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=12" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">For those who are busy...</h2>
          <p>Tired of endlessly trying to find the right recreuiter. Point them to us and if they've got the goods then they'll deliver</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=123" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-5">
          <h2 class="display-4">For those who want the best...</h2>
          <p>Set the ruls. Be in control and pay what you want for the talent you need.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=111" alt="">
        </div>
      </div>
      <div class="col-md-6 order-1">
        <div class="p-5">
          <h2 class="display-4">Let us be your guide</h2>
          <p>Bounty.one is there for you to find trusted recreuiters to find you the best talent at a price you think is right.</p>
        </div>
      </div>
    </div>
  </div>
</section>
